In [39]:
import  sklearn
import pandas as pd
import numpy as np

In [3]:
from sklearn import datasets

california_dateset = sklearn.datasets.fetch_california_housing(as_frame=True)

In [25]:
df = pd.DataFrame(california_dateset.data)

In [27]:
df.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [33]:
numerical_feature = 'MedInc'

In [41]:
zscores =  (df[numerical_feature]- df[numerical_feature].mean())/df[numerical_feature].std()
thershold=3
outliers =  df[np.abs(zscores)> thershold]
print("outloers detecting using zscore method")
print(outliers)

outloers detecting using zscore method
        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
131    11.6017      18.0  8.335052   1.082474       533.0  2.747423     37.84
409    10.0825      52.0  8.209016   1.024590       658.0  2.696721     37.90
510    11.8603      39.0  7.911111   0.984127       808.0  2.565079     37.82
511    13.4990      42.0  8.928358   1.000000      1018.0  3.038806     37.82
512    12.2138      52.0  9.210227   1.039773      1001.0  2.843750     37.82
...        ...       ...       ...        ...         ...       ...       ...
20376  10.2614      16.0  6.421277   0.919149       578.0  2.459574     34.16
20380  10.1597      16.0  7.606936   1.121387       450.0  2.601156     34.14
20389  10.0595      26.0  8.692308   1.076923       573.0  3.148352     34.19
20426  10.0472      11.0  9.890756   1.159664       415.0  3.487395     34.18
20436  12.5420      10.0  9.873315   1.102426      1179.0  3.177898     34.21

       Longitude
131      -122.19
409      -122.28
510      -122.22
511      -122.22
512      -122.23
...          ...
20376    -118.86
20380    -118.83
20389    -118.90
20426    -118.69
20436    -118.69

[345 rows x 8 columns]

In [49]:
# cal the first quartile and 3rd quartile
q1 = df[numerical_feature].quantile(0.25)
q3 = df[numerical_feature].quantile(0.75)

# calculate inter quantile range (IQR)
IQR= q3 -q1

# Sert thrreshold
thershold = 1.5

# Identify outliers
outliers = df[(df[numerical_feature] < (q1 - thershold * IQR))|(df[numerical_feature]> (q3 + thershold *IQR))]

# Display outliers
print("Outliers using IQR METHOD")
print(outliers)

Outliers using IQR METHOD
        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0       8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1       8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
131    11.6017      18.0  8.335052   1.082474       533.0  2.747423     37.84
134     8.2049      28.0  6.978947   0.968421       463.0  2.436842     37.83
135     8.4010      26.0  7.530806   1.056872       542.0  2.568720     37.83
...        ...       ...       ...        ...         ...       ...       ...
20426  10.0472      11.0  9.890756   1.159664       415.0  3.487395     34.18
20427   8.6499       4.0  7.236059   1.032528      5495.0  2.553439     34.19
20428   8.7288       6.0  8.715842   1.102970      3385.0  3.351485     34.23
20436  12.5420      10.0  9.873315   1.102426      1179.0  3.177898     34.21
20503   8.2787      27.0  6.935065   1.103896       243.0  3.155844     34.33

       Longitude
0        -122.23
1        -122.22
131      -122.19
134      -122.19
135      -122.20
...          ...
20426    -118.69
20427    -118.80
20428    -118.83
20436    -118.69
20503    -118.75

[681 rows x 8 columns]