In [4]:
# loading the pandas library
import pandas as pd

In [6]:
# loading the dataset
season_df = pd.read_csv("season.csv")

In [8]:
season_df.head()

   day  temp  wind-speed
0    2  45.0        12.0
1    3  46.0        34.0
2    4  47.0        45.0
3    5   NaN        56.0
4    6  49.0         NaN

In [10]:
# Checking the missing values
season_df.isnull().sum()

day           0
temp          4
wind-speed    4
dtype: int64

# Techniques to Handle the missing values -

**Technique 1 : Filling the missing values - fillna()**

In [14]:
# Our dataset contains only numerical type of column
# so we can fill the missing values by using mean() or median()

In [16]:
# filling the missing values using mean() function

Data2 = season_df.fillna(season_df.mean())

In [18]:
# Checking the missing value in Data2

Data2.isnull().sum()

day           0
temp          0
wind-speed    0
dtype: int64

In [20]:
# Filling the missing values using the median()

Data3 = season_df.fillna(season_df.median())

In [22]:
# Checking the missing value in Data3

Data3.isnull().sum()

day           0
temp          0
wind-speed    0
dtype: int64

**Technique 2 : Filling the missing values - dropna()**

In [25]:
# dropna() function will delete the entire row containing the missing values
Data4 = season_df.dropna()

In [27]:
# Checking the missing value in Data4
Data4.isnull().sum()

day           0
temp          0
wind-speed    0
dtype: int64

In [29]:
!jupyter nbconvert --to webpdf --allow-chromium-download Week2_Lab2.ipynb

[NbConvertApp] Converting notebook Week2_Lab2.ipynb to webpdf
[NbConvertApp] Building PDF
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 181260 bytes to Week2_Lab2.pdf